<!DOCTYPE HTML>

<HEAD>
    <META charset="UTF-8">
    <link rel=stylesheet href="feed.css">
    <title>Лента товаров</title>
</HEAD>
<BODY>
    <header></header>
    <article class="winter-in-norway">
        <img src="temp/5462824_xlarge.jpg" alt="Пристань" class="winter-in-norway__img">
        <img src="temp/68944142.jpg" alt="Вода и горы" class="winter-in-norway__img">
        <img src="temp/askwallpapers.com-23338.jpg" alt="Фьорды вечером" class="winter-in-norway__img">
        <img src="temp/motto.net.ua-88619.jpg" alt="Лес на закате" class="winter-in-norway__img">
    </article>
    <footer></footer>
</BODY>