<!DOCTYPE HTML>
<html ng-app="ribbon">
<HEAD>
    <META charset="UTF-8">
    <link rel=stylesheet href="feed.css">
    <script src="angular.min.js"></script>
    <script src="feed-directive.js"></script>
    <title>Лента товаров</title>
</HEAD>
<BODY ng-controller='data as data'>
    <header>
        <h1 class="header__h1">{{data.info.name}}</h1>
    </header>
    <article class="winter-in-norway" >
        <img ng-repeat="image in data.content.images" ng-src="{{image.src}}" alt="{{image.alt}}" class="{{image.class}}" />
    </article>
    <footer></footer>
</BODY>
</html>